body {
    margin: auto;
    font-family: sans-serif;
    background-image: url(../img/binarniak.jpg);
}

.navbar {
    margin: auto;

}

.left-logo {
    float:left;
    padding-top: 25px;
    margin-left: 15px;
}

.left-logo a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 30pt;
    color: #987654;
}

.left-logo .dotcom {
    font-family: Verdana, sans-serif;
    font-size: 30pt;
    color: #456123;
}

.left-logo a:hover {
    color: #456123;
}

.sub-logo {
    float: right;
    font-family: sans-serif;
    letter-spacing: 5pt;
    padding-top: 50px;
}

.menu {
    background-color: #333;
}

.menu-container {
    margin: 0 auto;
    width: 1140px;
}

.menu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.menu li {
   float: left;
}

.menu li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.menu li a:hover {
   background-color: #987654;
}

.menu li a:active {
   background-color: #6f553b;
}

.container {
    margin: auto;
    margin-bottom: 0px;
    width: 1140px;
    height: 900px;
    background-color: white;
}

.section {
    font-family: Verdana, sans-serif;
    font-size: 30pt;
    color: #987654;
    margin-left: 50px;
}

.info {
    font-size: 0.8em;
    color: #555;
}

form {
    margin-left: 50px;
}

section form {
    padding: 10px;
}

footer {
    margin: auto;
    background-color: #333;
    margin-bottom: 0;
    width: 1140px;
}

footer div{
    color: white;
    padding: 14px 16px;
    text-align: center;
}

footer div a {
    text-decoration: none;
    color: #fff;
}

footer div a:hover {
    text-decoration: underline;
    color: #ccc;
}

table {
    margin: 15px auto 0px auto;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #555;
}

td, th {
    border-right: 1px solid #555;
}

tbody {
    font-family: Helvetica, serif;
    line-height: 1.4em;
    border-top: 1px solid #555;
}

table tr td, table thead tr th {
    padding: 10px;
    width: 50%;
}

table td.center {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    text-align: center;
}

.other {
    text-decoration: none;
    color: #456123;
}

.other:hover {
    text-decoration: underline;
    color: #1D8330;
}

img {
    border-radius: 15px;
}
